#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.models {
    display: flex;
    justify-content: space-around;
}

.model {
    position: relative;
}

.glass-model {
    position: absolute;
    top: 60px;
    left: 50px;
}

.glasses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
}

.glasses .glass {
    flex: 1 1 10%; /* flex-grow: 1, flex-shrink: 1, flex-basis: 25% */
    box-sizing: border-box;
    padding: 5px;
}
